<h4><%= label %></h4>
<ul>
  <li><em>Type</em> - <code><%= type %></code></li>
  <li><em>ID</em> - <code><%= id %></code></li>
  <li><em>Label</em> - <%= label %></li>
  <li><em>Info</em> - <%= info %></li>
  <li><em>Accept</em> - <%= accept %></li>
  <li><em>Limit</em> - <%= limit %></li>
  <li><em>Min</em> - <%= min %></li>
  <li><em>Max</em> - <%= max %></li>
  <li><em>Step</em> - <%= step %></li>
  <li><em>Unit</em> - <%= unit %></li>
  <li><em>Options</em><%= options %></li>
  <li><em>Placeholder</em> - <%= placeholder %></li>
  <li><em>Default</em> - <%= default %></li>
</ul>
