<template>
  <div class="<%= handle %>">
    <!-- Not empty -->
  </div>
</template>

<script>

/**
 * Vue: <%= name %> (<%= handle %>)
 * -----------------------------------------------------------------------------
 * <%= description %>
 *
 */
export default {
  name: '<%= namePascalCase %>',

  data() {
    return {

    }
  },

  mounted() {
    // Not empty
  },

  methods: {
    // Not empty
  },
}
</script>

<style lang="scss">
@import './<%= handle %>';
</style>
