<template>
  <div class="<%= handle %>">
    <h2
      class="<%= handle %>__title"
      v-text="$string('general.title')"
    />
  </div>
</template>

<script>

/**
 * Vue: <%= name %> (<%= handle %>)
 * -----------------------------------------------------------------------------
 * <%= description %>
 * - Component settings: <%= key %>
 *
 * @param {String} liquid.sectionId - Section's Liquid ID.
 *
 */
export default {
  name: '<%= namePascalCase %>',

  props: {
    // liquid: {
    //   type: Object,
    //   default: () => ({
    //     sectionId: '',
    //   }),
    // },
  },

  data() {
    return {
      cnvsGlobal: true,
    }
  },

  mounted() {
    // Not empty
  },

  methods: {
    // Not empty
  },
}
</script>
