{% comment %}
------------------------------------------------------------------------------
  <%= liquidTitleCase %>: <%= name %> (<%= handle %>)
------------------------------------------------------------------------------
{% endcomment %}
{{ 'web.<%= handle %>.min.css' | asset_url | stylesheet_tag }}

<div class="<%= handle %> critical-component-clear liquid">
</div>

{% schema '<%= handle %>' %}
