{% comment %}
------------------------------------------------------------------------------
  Section: <%= name %> (<%= handle %>)
  - Limited interactivity section.
------------------------------------------------------------------------------
{% endcomment %}
{{ 'component.<%= handle %>.min.css' | asset_url | stylesheet_tag }}

<section
  data-component-handle="<%= handle %>"
  data-component-type="<%= load %>"<%= customContent %>
>
  <div class="<%= handle %> critical-component-clear liquid">
    <h2 class="<%= handle %>__title">
      Title
    </h2>
  </div>

  {% comment %}
  -----------------------------------------------------------------------------
    Load Vue component to initialise JS code.
  -----------------------------------------------------------------------------
  {% endcomment %}
  <<%= handle %>
    v-if="getComponentVisible('<%= handle %>')"
    v-cloak
    :liquid="{
      sectionId: {{ section.id | json | escape }}
    }"
  ></<%= handle %>>
</section>

{% schema '<%= handle %>' %}
