{% comment %}
------------------------------------------------------------------------------
  Section: <%= name %> (<%= handle %>)
  - Static section.
------------------------------------------------------------------------------
{% endcomment %}
<section data-component-handle="<%= handle %>"<%= customContent %>>
  <div class="<%= handle %> critical-component-clear liquid">
    <h2 class="<%= handle %>__title">
      Title
    </h2>
  </div>
</section>

{% schema '<%= handle %>' %}
