<template>
  <div class="<%= handle %>">
    <h2
      :id="`section-title-${liquid.sectionId}`"
      class="<%= handle %>__title"
      v-text="$string('404.title')"
    />
  </div>
</template>

<script>

/**
 * Vue: <%= name %> (<%= handle %>)
 * -----------------------------------------------------------------------------
 * <%= description %>
 *
 * @param {String} liquid.sectionId - Section's Liquid ID.
 *
 */
export default {
  name: '<%= pascalCase %>',

  props: {
    liquid: {
      type: Object,
      default: () => ({
        sectionId: '',
      }),
    },
  },

  data() {
    return {
      cnvsGlobal: true,
    }
  },

  mounted() {
    // Not empty
  },

  methods: {
    // Not empty
  },
}
</script>
