<template>
  <div class="<%= handle %> critical-component-hide">
    <h2
      class="<%= handle %>__title"
      v-text="$string('general.title')"
    />
  </div>
</template>

<script>

/**
 * Vue: <%= name %> (<%= handle %>)
 * -----------------------------------------------------------------------------
 * <%= description %>
 *
 * @param {String} liquid.sectionId - Section's Liquid ID.
 *
 */
export default {
  name: '<%= pascalCase %>',

  props: {
    // liquid: {
    //   type: Object,
    //   default: () => ({
    //     sectionId: '',
    //   }),
    // },
  },

  data() {
    return {

    }
  },

  mounted() {
    // Not empty
  },

  methods: {
    // Not empty
  },
}
</script>

<style lang="scss">
@import './<%= handle %>';
</style>
