<template>
  <div class="<%= handle %>">
    <!-- Not empty -->
  </div>
</template>

<script>

/**
 * Vue: <%= name %> (<%= handle %>)
 * -----------------------------------------------------------------------------
 * <%= description %>
 *
 */
export default {
  name: '<%= pascalCase %>',

  data() {
    return {
      cnvsGlobal: true,
    }
  },

  mounted() {
    // Not empty
  },

  methods: {
    // Not empty
  },
}
</script>
